<div class="row">
    <div class="col-sm-6">
        <div ng-class="{ 'has-error' : clienteForm.nome.$invalid &amp;&amp; !clienteForm.nome.$pristine }"
             class="form-group">
            <label class="control-label">Nome</label>

            <div class="controls">
                <input type="text" ng-model="$parent.cliente.nome" name="nome" required="required"
                       class="form-control"/>

                <p ng-show="clienteForm.nome.$invalid &amp;&amp; !clienteForm.nome.$pristine"
                   class="help-block">Nome muito curto ou inválido</p>
            </div>
        </div>
        <div ng-class="{ 'has-error' : clienteForm.descricao.$invalid &amp;&amp; !clienteForm.descricao.$pristine }"
             ng-init="editor()"
             class="form-group hidden-xs">
            <label class="control-label">Descrição</label>
        </div>
        <textarea ng-model="$parent.cliente.descricao" name="descricao" contentEditable="contentEditable"
             class="form-control"></textarea>
        <p ng-show="clienteForm.descricao.$invalid &amp;&amp; !clienteForm.descricao.$pristine"
           class="help-block">Descricao muito curta</p>
    </div>
    <div class="col-sm-6">
        <div ng-class="{ 'has-error' : clienteForm.site.$invalid &amp;&amp; !clienteForm.site.$pristine }"
             class="form-group">
            <label class="control-label">Site</label>

            <div class="controls">
                <input type="url" ng-model="$parent.cliente.url" name="url" required="required"
                       class="form-control"/>

                <p ng-show="clienteForm.site.$invalid &amp;&amp; !clienteForm.site.$pristine"
                   class="help-block">Endereço do site inválido</p>
            </div>
        </div>
        <div ng-class="{ 'has-error' : clienteForm.atuacao.$invalid &amp;&amp; !clienteForm.atuacao.$pristine }"
             ng-init="editor()"
             class="form-group hidden-xs">
            <label class="control-label">Atuação</label>
        </div>
        <textarea ng-model="$parent.cliente.atuacao" name="atuacao" contentEditable="contentEditable"
             class="form-control"></textarea>
        <p ng-show="clienteForm.atuacao.$invalid &amp;&amp; !clienteForm.atuacao.$pristine"
           class="help-block">Atuação muito curta</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="control-group">
            <div class="controls">
                <button type="submit" ng-disabled="clienteForm.$invalid" class="btn btn-primary">
                    Salvar
                </button>
                <a href="#/clientes" class="btn">voltar</a>
            </div>
        </div>
    </div>
</div>