<div ng-show="$parent.linhas.pageCount > 1" class="block text-center">
    <ul class="pagination pagination-centered inline unstyled">
        <li>
            <a ng-disabled="$parent.curPage == 1"
               ng-click="$parent.curPage = $parent.curPage - 1; $parent.load()"
               class="btn btn-link">Voltar</a>
        </li>
        <li>
            <span>
                Página
                <select ng-model="curPage" ng-change="$parent.curPage = curPage; $parent.load()" ng-options="pageNumber for pageNumber in $parent.paginas"></select>
                de {{ $parent.linhas.pageCount }}
            </span>
        </li>
        <li>
            <a ng-disabled="$parent.linhas.has_more == false"
               ng-click="$parent.curPage = $parent.curPage + 1; $parent.load()"
               class="btn btn-link">Avançar</a>
        </li>
    </ul>
</div>