<div ng-init="load()" class="col-lg-12">
    <div class="box">
        <div class="box-header">
            <h2><i class="fa fa-bullhorn"></i> <span class="break">&nbsp;</span>Avisos da tela inicial <a href="#/aviso/adicionar" class="btn btn-success btn-xs"><span class="fa fa-plus">&nbsp;</span></a></h2>
        </div>
        <div class="box-content">
            <div ng-show="status" class="alert alert-{{ status.type }}">
                <button type="button" data-dismiss="alert" class="close">&times;</button>
                {{ status.message}}
            </div>

            <div ng-show="linhas.itemCount == 0" class="alert alert-warning">Você não possui nenhum aviso, cadastre um <a href="#/aviso/adicionar">aqui</a></div>

            <table ng-show="linhas.itemCount" class="table table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th class="col-lg-7">Título</th>
                        <th class="col-lg-2">Data de Cadastro</th>
                        <th class="col-lg-2">Período</th>
                        <th class="col-lg-1">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aviso in linhas.data" class="bg-{{ aviso.tipo }}">
                        <td>{{ aviso.titulo }}</td>
                        <td class="center">{{ aviso.cadastro | date: 'dd/MM/yyyy HH:mm' }}</td>
                        <td class="center">{{ aviso.inicio | date: 'dd/MM/yyyy' }} ~ {{ aviso.fim | date: 'dd/MM/yyyy HH:mm' }}
                        </td>
                        <td class="center">
                            <a href="#/aviso/editar/{{ aviso._id }}" class="btn btn-xs btn-info"><i class="fa fa-edit"></i></a>
                            <a ng-click="delete(aviso._id)" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ng-include src="'modules/pagination.html'"></ng-include>
        </div>
    </div>
</div>