<div class="well well-lg" ng-init="load()">
    <h2><i class="fa fa-bullhorn"></i> <span ng-bind="pageTitle"></span></h2>
</div>

<ng-include src="'modules/alert.html'"></ng-include>

<div ng-show="linhas.itemCount == 0" class="alert alert-warning">Você não possui nenhum aviso, cadastre um <a href="#/aviso/adicionar">aqui</a></div>

<table ng-show="linhas.itemCount" class="table table-bordered bootstrap-datatable datatable">
    <thead>
        <tr>
            <th class="col-lg-7">Título</th>
            <th class="col-lg-2">Data de Cadastro</th>
            <th class="col-lg-2">Período</th>
            <th class="col-lg-1">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="aviso in linhas.data" class="bg-{{ aviso.tipo }}">
            <td>{{ aviso.titulo }}</td>
            <td class="center">{{ aviso.cadastro | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td class="center">{{ aviso.inicio | date: 'dd/MM/yyyy' }} ~ {{ aviso.fim | date: 'dd/MM/yyyy HH:mm' }}
            </td>
            <td class="center">
                <a href="#/aviso/editar/{{ aviso._id }}" class="btn btn-xs btn-info"><i class="fa fa-edit"></i></a>
                <a ng-click="delete(aviso._id)" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<ng-include src="'modules/pagination.html'"></ng-include>