<div class="col-lg-12">
    <div class="box">
        <div data-original-title="" class="box-header">
            <h2>
                <i class="fa fa-suitcase"></i>
                <span class="break">&nbsp;</span>Vagas de Empregos</h2>

            <div class="box-icon">
                <a href="#/empregos/adicionar" class="btn-plus"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="block">
                <div ng-show="status" class="alert alert-{{ status.type }}">
                    <button type="button" data-dismiss="alert" class="close">&times;</button>
                    {{ status.message}}
                </div>
                <form ng-submit="edit()" ng-init="get()" name="empregoForm" novalidate="novalidate"
                      class="form-vertical">
                    <div ng-class="{ 'has-error' : empregoForm.titulo.$invalid &amp;&amp; !empregoForm.titulo.$pristine }"
                         class="form-group">
                        <label class="control-label">Título</label>

                        <div class="controls">
                            <input type="text" ng-model="emprego.titulo" ng-minlength="5" name="titulo"
                                   required="required" class="form-control"/>

                            <p ng-show="empregoForm.titulo.$invalid &amp;&amp; !empregoForm.titulo.$pristine"
                               class="help-block">Título muito curto ou inválido</p>
                        </div>
                    </div>
                    <div ng-class="{ 'has-error' : empregoForm.descricao.$invalid &amp;&amp; !empregoForm.descricao.$pristine }"
                         ng-init="editor()"
                         class="form-group hidden-xs">
                        <label class="control-label">Descrição</label>

                        <div data-role="editor-toolbar" data-target=".editor" class="btn-toolbar">
                            <div class="btn-group">
                                <a data-toggle="dropdown" title="Font Size" class="btn dropdown-toggle"><i
                                        class="fa fa-text-height"></i><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-edit="fontSize 5"><font size="5">Grande</font></a>
                                    </li>
                                    <li>
                                        <a data-edit="fontSize 3"><font size="3">Normal</font></a>
                                    </li>
                                    <li>
                                        <a data-edit="fontSize 1"><font size="1">Pequena</font></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a data-edit="bold" title="Bold (Ctrl/Cmd+B)" class="btn"><i class="fa fa-bold"></i></a>
                                <a data-edit="italic" title="Italic (Ctrl/Cmd+I)" class="btn"><i
                                        class="fa fa-italic"></i></a>
                                <a data-edit="strikethrough" title="Strikethrough" class="btn"><i
                                        class="fa fa-strikethrough"></i></a>
                                <a data-edit="underline" title="Underline (Ctrl/Cmd+U)" class="btn"><i
                                        class="fa fa-underline"></i></a>
                            </div>
                            <div class="btn-group">
                                <a data-edit="insertunorderedlist" title="Bullet list" class="btn"><i
                                        class="fa fa-list-ul"></i></a>
                                <a data-edit="insertorderedlist" title="Number list" class="btn"><i
                                        class="fa fa-list-ol"></i></a>
                                <a data-edit="outdent" title="Reduce indent (Shift+Tab)" class="btn"><i
                                        class="fa fa-outdent"></i></a>
                                <a data-edit="indent" title="Indent (Tab)" class="btn"><i class="fa fa-indent"></i></a>
                            </div>
                            <div class="btn-group">
                                <a data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)" class="btn"><i
                                        class="fa fa-align-left"></i></a>
                                <a data-edit="justifycenter" title="Center (Ctrl/Cmd+E)" class="btn"><i
                                        class="fa fa-align-center"></i></a>
                                <a data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)" class="btn"><i
                                        class="fa fa-align-right"></i></a>
                                <a data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)" class="btn"><i
                                        class="fa fa-align-justify"></i></a>
                            </div>
                            <div class="btn-group">
                                <div class="btn-group">
                                    <a data-edit="undo" title="Undo (Ctrl/Cmd+Z)" class="btn"><i class="fa fa-undo"></i></a>
                                    <a data-edit="redo" title="Redo (Ctrl/Cmd+Y)" class="btn"><i
                                            class="fa fa-repeat"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-model="emprego.descricao" name="descricao" contentEditable="contentEditable"
                         class="editor"></div>
                    <p ng-show="empregoForm.descricao.$invalid &amp;&amp; !empregoForm.descricao.$pristine"
                       class="help-block">Descricao muito curta</p>

                    <div class="row">
                        <div class="col-sm-6">
                            <div ng-class="{ 'has-error' : empregoForm.salario.$invalid &amp;&amp; !empregoForm.salario.$pristine }"
                                 class="form-group">
                                <label class="control-label">Salário</label>

                                <div class="controls">
                                    <input type="text" ng-model="emprego.salario" ng-minlength="5" name="salario"
                                           ui-money-mask="ui-money-mask" class="form-control"
                                            />

                                    <p ng-show="empregoForm.salario.$invalid &amp;&amp; !empregoForm.salario.$pristine"
                                       class="help-block">Salário inválido</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div ng-class="{ 'has-error' : empregoForm.tags.$invalid &amp;&amp; !empregoForm.tags.$pristine }"
                                 class="form-group">
                                <label class="control-label">Palavras-chaves</label>

                                <div class="controls">
                                    <input type="text" ng-model="emprego.tags" ng-minlength="5" name="tags"
                                           required="required" class="form-control"/>

                                    <p ng-show="empregoForm.tags.$invalid &amp;&amp; !empregoForm.tags.$pristine"
                                       class="help-block">Informe palavras-chaves separadas por vírgulas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" ng-disabled="empregoForm.$invalid" class="btn btn-primary">Salvar
                            </button>
                            <a href="#/empregos" class="btn">voltar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>