<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="painel de controle">
    <meta name="api" content="http://127.0.0.1:8081/">

    <title>Painel de Controle</title>

    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="vendor/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="vendor/ng-notify/dist/ng-notify.min.css">
    <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="LoginController" ng-init="check()">
    <span us-spinner="{radius:30, width:8, length: 16}"></span>

    <!-- start: Header-->
    <nav class="navbar navbar-inverse navbar-fixed-top hidden">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Navegação</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand visible-lg" href="#/">Painel de Controle</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/"><i class="fa fa-dashboard"></i> Início</a></li>
                    <li><a href="#/aviso"><i class="fa fa-bullhorn"></i> Avisos</a></li>
                    <li><a href="#/empregos"><i class="fa fa-suitcase"></i> Empregos</a></li>
                    <li><a href="#/empresa"><i class="fa fa-globe"></i> Empresa</a></li>
                    <li><a href="#/equipe"><i class="fa fa-users"></i> Equipe</a></li>
                    <li><a href="#/parceiros"><i class="fa fa-sitemap"></i> Parceiros</a></li>
                    <li><a href="#/produtos"><i class="fa fa-book"></i> Produtos</a></li>
                    <li><a href="#/slides"><i class="fa fa-desktop"></i> Slides</a></li>
                    <li><a href="#/carrinhos"><i class="fa fa-shopping-cart"></i> Carrinhos</a></li>
                    <li>
                        <a href="javascript:;" class="btn btn-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-cog"></i>
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#/perfil">Editar Perfil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/logout" ng-click="logout()">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- start: Container -->
    <div class="container-fluid hidden">
        <div class="row">
            <div class="main">
                <!--[if lt IE 7]>
                <p class="browsehappy">
                    Você está usando um navegador <strong>desatualizado</strong>. <br>
                    Por favor <a href="http://browsehappy.com/">atualize seu navegador</a> para ter uma experiência melhor.
                </p>
                <![endif]-->

                <!-- row-->
                <div ng-view></div>
                <!-- /row-->
            </div>
        </div>
    </div>

    <!-- Auth Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form ng-submit="login()" name="loginForm" class="form-horizontal">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-key"></i><span class="break">&nbsp;</span>Login</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="status" class="alert alert-{{ status.type }}">
                            <button type="button" data-dismiss="alert" class="close">&times;</button>
                            {{ status.message}}
                        </div>

                        <div class="input-wrap">
                            <div title="E-mail de acesso" class="input-prepend input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input id="username" name="username" type="email" placeholder="e-mail" ng-model="user.email" required="required" class="form-control input-lg">
                            </div>
                        </div>

                        <hr class="clearfix">

                        <div class="input-wrap">
                            <div title="Senha de acesso" class="input-prepend input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input id="password" name="password" type="password" placeholder="senha" ng-model="user.password" required="required" class="form-control input-lg">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-lg">Entrar <i class="fa fa-sign-in"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/spin.js/spin.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="vendor/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="vendor/angular-spinner/angular-spinner.min.js"></script>
    <script src="vendor/angular-loading-spinner/angular-loading-spinner.js"></script>
    <script src="vendor/angular-flash-alert/dist/angular-flash.min.js"></script>
    <script src="vendor/angular-input-masks/angular-input-masks-standalone.min.js"></script>
    <script src="vendor/angular-i18n/angular-locale_pt-br.js"></script>
    <script src="vendor/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="vendor/ng-notify/dist/ng-notify.min.js"></script>
    <script src="modules/aviso/index.js"></script>
    <script src="modules/empregos/index.js"></script>
    <script src="modules/empresa/index.js"></script>
    <script src="modules/equipe/index.js"></script>
    <script src="modules/inicio/index.js"></script>
    <script src="modules/login/index.js"></script>
    <script src="modules/parceiros/index.js"></script>
    <script src="modules/produtos/index.js"></script>
    <script src="modules/slides/index.js"></script>
    <script src="modules/carrinhos/index.js"></script>
    <script src="app.js"></script>
</body>
</html>
