<div class="col-lg-12">
    <div class="box">
        <div data-original-title="" class="box-header">
            <h2><i class="fa fa-globe"></i><span class="break">&nbsp;</span>Adicionando Site</h2>
        </div>
        <div class="box-content">
            <div ng-show="status" class="alert alert-{{ status.type }}">
                <button type="button" data-dismiss="alert" class="close">&times;</button>
                {{ status.message}}
            </div>
            <form name="siteForm" ng-submit="add()" novalidate="novalidate" class="form-vertical">
                <div ng-class="{ 'has-error' : siteForm.nome.$invalid && !siteForm.nome.$pristine }"
                     class="form-group">
                    <label class="control-label">Título</label>

                    <div class="controls">
                        <input type="text" ng-model="site.nome" name="nome" required="required" class="form-control"/>

                        <p ng-show="siteForm.nome.$invalid && !siteForm.nome.$pristine" class="help-block">
                            Título muito curto ou inválido</p>
                    </div>
                </div>
                <div ng-class="{ 'has-error' : siteForm.dominio.$invalid && !siteForm.dominio.$pristine }"
                     class="form-group">
                    <label class="control-label">Dominio</label>

                    <div class="controls">
                        <input type="text" ng-model="site.dominio" name="dominio" required="required"
                               class="form-control"/>

                        <p ng-show="siteForm.dominio.$invalid && !siteForm.dominio.$pristine"
                           class="help-block">Dominio muito curto ou inválido</p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" ng-disabled="siteForm.$invalid" class="btn btn-primary">Salvar</button>
                        <a href="#/sites" class="btn">voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>