<div ng-init="load()" class="col-lg-12">
    <div class="box">
        <div data-original-title="" class="box-header">
            <h2 class="pull-left"><i class="fa fa-book"></i> <span class="break">&nbsp;</span>Produtos <a href="#/produtos/adicionar" class="btn btn-success btn-xs"><span class="fa fa-plus">&nbsp;</span></a></h2>

            <form class="pull-right form form-horizontal" ng-submit="search()">
                <input type="text" ng-model="busca" required class="input-sm" placeholder="Buscar Produto">
                <button type="submit" class="btn btn-primary btn-sm">Buscar <i class="fa fa-search"></i></button>
            </form>

            <div class="clearfix"></div>
        </div>

        <div class="box-content">
            <div ng-show="status" class="alert alert-{{ status.type }}">
                <button type="button" data-dismiss="alert" class="close">&times;</button>
                {{ status.message}}
            </div>

            <div ng-show="linhas.itemCount == 0" class="alert alert-warning">
                Você não possui nenhum produto cadastrado, cadastre um &nbsp; <a href="#/produtos/adicionar">aqui</a>
            </div>

            <div ng-show="linhas.itemCount" class="row">
                <div ng-repeat="produto in linhas.data" class="col-lg-2 col-md-4 col-xs-6">
                    <a href="http://{{ site.dominio }}/#/product/{{ produto._id }}" target="_blank"><img ng-src="{{ produto.imagem.url }}" alt="foto" class="thumbnail img-thumbnail img-responsive" style="height: 200px"></a>

                    <h5>{{ produto.titulo | limitTo : 20 }}</h5>
                    <p>{{ produto.codigo }}</p>
                    <p>{{ produto.categoria.titulo }} / {{ produto.categoria.categoria.titulo }}</p>
                    <p>
                        <a href="#/produtos/editar/{{ produto._id }}" class="btn btn-xs btn-success"><span class="fa fa-edit"></span></a>
                        <button ng-click="delete($index)" class="btn btn-xs btn-danger"><span class="fa fa-trash-o"></span></button>
                    </p>
                </div>
            </div>
        </div>

        <ng-include src="'modules/pagination.html'"></ng-include>
    </div>
</div>