<div ng-init="load()" class="col-lg-12">
    <div class="box">
        <div data-original-title="" class="box-header">
            <h2>
                <i class="fa fa-users"></i>
                <span class="break">&nbsp;</span>Equipe</h2>

            <div class="box-icon">
                <a href="#/equipe/adicionar" class="btn-plus"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="block">
                <div ng-show="status" class="alert alert-{{ status.type }}">
                    <button type="button" data-dismiss="alert" class="close">&times;</button>
                    {{ status.message}}
                </div>
                <div ng-show="linhas.itemCount == 0" class="alert alert-warning">Você não possui nenhum membro
                    cadastrado, cadastre um &nbsp;
                    <a href="#/equipe/adicionar">aqui</a>
                </div>
                <table ng-show="linhas.itemCount"
                       class="table table-striped table-bordered bootstrap-datatable datatable">
                    <thead>
                    <tr>
                        <td class="col-md-4">Nome</td>
                        <td class="col-md-4">E-mail</td>
                        <td class="col-md-2">Cargo</td>
                        <td class="col-md-1"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="membro in linhas.data">
                        <td>{{ membro.nome }}</td>
                        <td>{{ membro.email }}</td>
                        <td>{{ membro.cargo }}</td>
                        <td>
                            <a href="#/equipe/editar/{{ membro._id }}" class="btn btn-mini btn-success"><span
                                    class="fa fa-edit">&nbsp;</span></a>
                            <button ng-click="delete(membro._id)" class="btn btn-mini btn-danger">
                                <span class="fa fa-trash-o">&nbsp;</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <ng-include src="'modules/pagination.html'"></ng-include>
        </div>
    </div>
</div>