<div class="col-lg-12">
    <div class="box">
        <div data-original-title="" class="box-header">
            <h2><i class="fa fa-globe"></i> <span class="break">&nbsp;</span>Empresa</h2>
        </div>
        <div class="box-content">
            <div class="block">
                <div ng-show="status" class="alert alert-{{ status.type }}">
                    <button type="button" data-dismiss="alert" class="close">&times;</button>
                    {{ status.message}}
                </div>
                <form ng-submit="edit()" ng-init="get()" name="siteForm" novalidate="novalidate" class="form-vertical">
                    <div class="row">
                        <div class="col-sm-6">
                            <div ng-class="{ 'has-error' : empresaForm.descricao.$invalid && !empresaForm.descricao.$pristine }" class="form-group hidden-xs">
                                <label class="control-label">Descrição</label>
                            </div>
                            <textarea ng-model="empresa.descricao" name="descricao" contentEditable="contentEditable" class="editor1"></textarea>

                            <p ng-show="empresaForm.descricao.$invalid && !empresaForm.descricao.$pristine" class="help-block">Descricao muito curta</p>
                        </div>
                        <div class="col-sm-6">
                            <div ng-class="{ 'has-error' : empresaForm.endereco.$invalid && !empresaForm.endereco.$pristine }"
                                 class="form-group">
                                <label class="control-label">Endereco</label>

                                <div class="input-append">
                                    <input type="text" ng-model="endereco" name="endereco" required="required"
                                           class="form-control"/>
                                    <button type="button" ng-click="adicionaEndereco(endereco)" class="btn btn-default">
                                        +
                                    </button>
                                </div>
                                <p ng-show="empresaForm.endereco.$invalid && !empresaForm.endereco.$pristine"
                                   class="help-block">Endereço muito curto ou inválido</p>

                                <p ng-repeat="endereco in empresa.enderecos">
                                    <button type="button" ng-click="removeEndereco($index)"
                                            class="btn btn-mini btn-link">x
                                    </button>
                                    &nbsp; {{ endereco }}
                                </p>
                            </div>
                            <div ng-class="{ 'has-error' : empresaForm.email.$invalid && !empresaForm.email.$pristine }"
                                 class="form-group">
                                <label class="control-label">E-mail de contato</label>

                                <div class="input-append">
                                    <input type="email" ng-model="email" name="email" required="required"
                                           class="form-control"/>
                                    <button type="button" ng-click="adicionaEmail(email)" class="btn btn-default">+
                                    </button>
                                </div>
                                <p ng-show="empresaForm.email.$invalid && !empresaForm.email.$pristine"
                                   class="help-block">E-mail muito curto ou inválido</p>

                                <p ng-repeat="email in empresa.emails">
                                    <button type="button" ng-click="removeEmail($index)" class="btn btn-mini btn-link">
                                        x
                                    </button>
                                    &nbsp; {{ email }}
                                </p>
                            </div>
                            <div ng-class="{ 'has-error' : empresaForm.telefone.$invalid && !empresaForm.telefone.$pristine }"
                                 class="form-group">
                                <label class="control-label">Telefone</label>

                                <div class="input-append">
                                    <input type="text" ng-model="telefone" name="telefone" required="required"
                                           class="form-control"/>
                                    <button type="button" ng-click="adicionaTelefone(telefone)" class="btn btn-default">
                                        +
                                    </button>
                                </div>
                                <p ng-show="empresaForm.telefone.$invalid && !empresaForm.telefone.$pristine"
                                   class="help-block">telefone muito curto ou inválido</p>

                                <p ng-repeat="telefone in empresa.telefones">
                                    <button type="button" ng-click="removeTelefone($index)"
                                            class="btn btn-mini btn-link">x
                                    </button>
                                    &nbsp; {{ telefone }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" ng-disabled="empresaForm.$invalid" class="btn btn-primary">
                                        Salvar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>