<div class="row-fluid">
    <div class="col-sm-6">
        <div ng-class="{ 'has-error' : $parent.parceiroForm.nome.$invalid && !$parent.parceiroForm.nome.$pristine }" class="form-group">
            <label class="control-label">Nome</label>

            <div class="controls">
                <input type="text" ng-model="$parent.parceiro.nome" ng-minlength="5" name="nome" required="required" class="form-control">
                <p ng-show="$parent.parceiroForm.nome.$invalid && !$parent.parceiroForm.nome.$pristine" class="help-block">Nome muito curto ou inválido</p>
            </div>
        </div>
        <div ng-class="{ 'has-error' : $parent.parceiroForm.url.$invalid && !$parent.parceiroForm.url.$pristine }" class="form-group">
            <label class="control-label">URL</label>

            <div class="controls">
                <input type="url" ng-model="$parent.parceiro.url" name="url" required="required" class="form-control">
                <p ng-show="$parent.parceiroForm.url.$invalid && !$parent.parceiroForm.url.$pristine" class="help-block">Url inválida</p>
            </div>
        </div>
        <div ng-class="{ 'has-error' : $parent.parceiroForm.imagem.$invalid && !$parent.parceiroForm.imagem.$pristine }" ng-hide="$parent.parceiro.imagem.url" class="form-group">
            <label class="control-label">Imagem</label>

            <div class="controls">
                <input type="file" ngf-select required="required" ng-model="$parent.parceiro.imagem" class="form-control">
                <p ng-show="$parent.parceiroForm.imagem.$invalid && !$parent.parceiroForm.imagem.$pristine" class="help-block">Imagem é inválida</p>
            </div>
        </div>
        <img ng-src="{{$parent.parceiro.imagem.url}}" ng-show="$parent.parceiro.imagem" class="img-responsive">
    </div>
    <div class="col-sm-6">
        <div ng-class="{ 'has-error' : $parent.parceiroForm.atuacao.$invalid && !$parent.parceiroForm.atuacao.$pristine }" class="form-group hidden-xs">
            <label class="control-label">Descrição</label>

            <div class="controls">
                <markdown-editor ng-model="$parent.parceiro.atuacao" name="atuacao"></markdown-editor>
                <p ng-show="$parent.parceiroForm.atuacao.$invalid && !$parent.parceiroForm.atuacao.$pristine" class="help-block">Atuação muito curta</p>
            </div>
        </div>
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <button type="submit" ng-disabled="$parent.parceiroForm.$invalid" class="btn btn-primary">Salvar </button>
        <a href="#/parceiros" class="btn">voltar</a>
    </div>
</div>