<div ng-init="load()" class="col-lg-12">
    <div class="box">
        <div data-original-title="" class="box-header">
            <h2><i class="fa fa-sitemap"></i> <span class="break">&nbsp;</span>Parceiros <a href="#/parceiros/adicionar" class="btn btn-success btn-xs"><span class="fa fa-plus">&nbsp;</span></a></h2>
        </div>
        <div class="box-content">
            <div class="block">
                <div ng-show="status" class="alert alert-{{ status.type }}">
                    <button type="button" data-dismiss="alert" class="close">&times;</button>
                    {{ status.message}}
                </div>
                <div ng-show="linhas.itemCount == 0" class="alert alert-warning">
                    Você não possui nenhum parceiro cadastrado, cadastre um &nbsp; <a href="#/parceiros/adicionar">aqui</a>
                </div>
                <div ng-show="linhas.itemCount" class="row">
                    <div ng-repeat="parceiro in linhas.data">
                        <p><img ng-src="{{ parceiro.imagem.url }}" alt="Imagem do Parceiro" class="img img-thumbnail img-responsive" style="height: 200px"></p>
                        <p>{{ parceiro.nome | limitTo: 60 }}...</p>
                        <p>
                            <a href="#/parceiros/editar/{{ parceiro._id }}" class="btn btn-xs btn-success"><span class="fa fa-edit">&nbsp;</span></a>
                            <button ng-click="delete($index)" class="btn btn-xs btn-danger"><span class="fa fa-trash-o">&nbsp;</span></button>
                        </p>
                    </div>
                </div>
            </div>

            <ng-include src="'modules/pagination.html'"></ng-include>
        </div>
    </div>
</div>